<%= form_with(model: prescription, local: true) do |form| %>
  <% if prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% prescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :prescription_name %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.number_field :patient_id, id: :prescription_patient_id %>
  </div>

  <div class="field">
    <%= form.label :drug %>
    <%= form.text_field :drug, id: :prescription_drug %>
  </div>

  <div class="field">
    <%= form.label :issued_at %>
    <%= form.date_select :issued_at, id: :prescription_issued_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
